<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flutter Test Runner</title>
</head>

<body>
    <h1>Flutter Test Runner</h1>
    <p>Modul dapat diunduh pada link berikut : <a
            href="https://drive.google.com/drive/folders/1xlDgPfzkflORsz4fTdRAV1NxvM3Z1oyg">
            https://drive.google.com/drive/folders/1xlDgPfzkflORsz4fTdRAV1NxvM3Z1oyg</a></p>
    <p>Langkah-langkah mengupload tugas: <br>
        1. Upload tugas pada GitHub dengan repository baru.<br>
        2. Pastikan repository anda bersifat Public.<br>
        3. Setelah sudah terupload copy link untuk download zip repository.<br>
        4. Paste link tersebut pada form dibawah ini.<br>
    </p>
    <form action="/submit" method="post">
        <label for="url">GitHub URL:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Submit</button>
    </form>
</body>

</html>